<% layout('layouts/boilerplate')%>
	<!-- <h1>
		Edit Movie Review
	</h1>
	<form action="/movies/<%=movie._id%>?_method=PUT" method="POST">
		<div>
			<label for="name">Movie Name</label>
			<input type="text" id="name" name="movie[name]" value="<%=movie.name%>">
		</div>
		
		<div>
			<label for="url">Movie Image</label>
			<input type="text" id="url" name="movie[image]" value="<%=movie.url%>">
		</div>
		
		<div>
			<label for="review">Movie Review</label>
			<textarea id="review" name="movie[review]" ><%=movie.review%></textarea>
			
		</div>
		
		<button>
			Update Review
		</button>
	</form> -->
	<!-- <div>
		<a href="/movies/<%=movie._id%>">Back to Movies</a>
	</div> -->





<style>


body
		{
		
			background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
			height: 100%; 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
	}
</style>





<a href="/movies/new/<%=communityId%>" type="button" class="btn btn-success mb-4 mt-0">new Movie</a>
<a href="/movies/request/<%=communityId%>" type="button" class="btn btn-success mb-4 mt-0">Request</a>
	<a class="btn btn-success mb-4 mt-0" href="/movies/post/<%=movie._id%>/<%=communityId%>" >View <%=movie.name %></a>
<a type="button" href="/movies/<%=communityId%>"  class="btn btn-success mb-4 mt-0">All Movies</a>
<center>
<div class="text-center mb-4" style="color:black; border-radius: 2px;padding: 5px;width: 50%;height=50%;box-shadow: 2px 4px 2px 4px #999999;color:white;background-color:#2E2E2E">
	<h1 >
		Edit Movie
	</h1>
	
	<div class="col-10 offset-1">
		<form action="/movies/<%=communityId%>/<%=movie._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
			<div class="mb-3">
				<label class="form-label" for="name">Movie Name</label>
				<input class="form-control" type="text" required id="name" name="name" value="<%=movie.name%>">
			</div>

			<div class="mb-3">
				<label class="form-label" for="url">Upload Image</label>
				<input type="file" required id="image" name="image" value="<%=movie.image%>">
			</div>
			<label for="floatingTextarea2">Review</label>
			<div class="form-floating mb-3">
				<textarea class="form-control" placeholder="Leave a review here" required id="floatingTextarea2"  style="height: 200px" name="review"><%=movie.review%></textarea>
  				
			</div>
			
		
			<div class="pb-3">
				<button class="btn btn-success">
				Update Review
				</button>
			</div>
			
			
		</form>
	</div>
</div>
	</center>

			
			<!-- <div class="mb-3">
				<label class="form-label" for="review">Movie Review</label>
				<input class="form-control" id="review" name="movie[review]">
			</div>
			
			<div class="form-floating mb-3">
				<textarea class="form-control" placeholder="Leave a review here" id="floatingTextarea2"  style="height: 250px" name="movie[review]"><%=movie.review%></textarea>
  				<label for="floatingTextarea2">Review</label>
			</div>
			
			
			
			
			<!-- <div>
				<label for="review">Movie Review</label>
				<textarea id="review" name="movie[review]"></textarea>
			</div> -->

			<!-- <div class="mb-3">
				<button class="btn btn-info">
				Update Movie
				</button>
			</div>
		</form>
	<div>
		<a href="/movies/<%=movie._id%>">Back to Movies</a>
	</div>
	</div>
</div> -->
	 -->